.AsideLabel {
    float: right;
    margin-right: 16px;
    line-height: 16px;
    font-weight: 600;
    color: black;
}

.HeaderRow {
    margin: 20px 0 20px 0;
    text-align: center;
}

.InputRow {
    margin: 20px 0;
}
